<div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
    <span class="label label-danger">No authorized access</span>
    <span class="label label-info"><a href="/user/login">Login here</a></span>
</div>