<base href="{{site.base_domain}}/">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>AdsPlay - {{{dashboard_title}}}</title>

<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="css/sb-admin.css" rel="stylesheet">

<!-- AdsPlay CSS -->
<link href="css/ads-play.css" rel="stylesheet">

<!-- Jquery-UI CSS -->
<link rel="stylesheet" href="css/jquery-ui.min.css">

<!-- Custom Fonts -->
<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!-- jQuery -->
<script src="js/jquery.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- NVD3 chart library -->
<script src="js/d3.min.js" charset="utf-8"></script>
<link href="css/nv.d3.min.css" rel="stylesheet">
<script src="js/nv.d3.min.js"></script>

<!-- morris.js chart library -->
<link rel="stylesheet" href="css//morris.css">
<script src="js/raphael-min.js"></script>
<script src="js/morris.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/transition.js"></script>
<script src="js/collapse.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-ui.min.js"></script>

<!-- Util JavaScript -->
<script src="js/report-utils.js"></script>
<script src="js/moment.min.js"></script>
<script src="js/bootstrap-datetimepicker.min.js"></script>
